<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Bruno's Online Book Store</title>
  <link rel="stylesheet" th:href="@{/css/styles1.css}">
  <link rel="stylesheet" th:href="@{/css/styles0.css}">
</head>
<body>
<!-- Include Header -->
<th:block th:insert="fragments/header.html"></th:block>

<div class="container">
  <h1 class="welcome-title">Welcome to Bruno's Online Book Store!</h1>

  <!-- Home Page Image -->
  <div class="home-image">
    <img src="https://static01.nyt.com/images/2017/05/11/t-magazine/bookstore-slide-2MCD/bookstore-slide-2MCD-superJumbo.jpg" alt="Bookstore" class="responsive-img">
  </div>
</div>

<!-- Footer -->
<footer>
  <p><em><strong>Bruno Barros</strong></em> </p>
  <p><small>ID: 991758456</small></p>
</footer>
</body>
</html>

